# k3s.env created by Ansible
{% if etcd.enabled %}
K3S_DATASTORE_ENDPOINT={{ hostvars['dummy_node']['etcd_k3s_endpoints'] }}
{% if etcd.secured %}
K3S_DATASTORE_CAFILE={{ hostvars['dummy_node']['etcd_k3s_cafile'] }}
K3S_DATASTORE_CERTFILE={{ hostvars['dummy_node']['etcd_k3s_certfile'] }}
K3S_DATASTORE_KEYFILE={{ hostvars['dummy_node']['etcd_k3s_keyfile'] }}
{% endif %}
{% endif %}
