---
- name: Check for existing kube-config
  stat:
    path: "{{ kube_user_config }}"
  register: kube_config_check

- name: Copy kubeadm join configuration file to host
  template:
    src: "../templates/{{ kube_join_config_name }}.j2"
    dest: "{{ kube_join_config_path }}"
  when: "(kube_config_check.stat.exists == false)"

- name: Running join command
  shell: "kubeadm join --config {{ kube_join_config_path }}"
  become: yes
  args:
    executable: "/bin/bash"
  register: kubeadm_join_output
  when: "(kube_config_check.stat.exists == false)"

- debug:
    msg: "{{ kubeadm_join_output.stdout }}"
  when: "(kube_config_check.stat.exists == false)"

- name: Assert that Join was successful
  assert:
    that: "kubeadm_join_output.rc == 0"
    fail_msg: "kubeadmn join was not successful"
    success_msg: "kubeadm join was successful"
  when: "(kube_config_check.stat.exists == false)"

- include_tasks: copy_kubeconfig.yaml
