# container runtime for kubernetes: containerd, cri-o, docker engine
runtime_engine: "{{ container_runtime_engine | default('containerd') }}"

# Docker version to install
docker_ce_version: ""
containerd_version: ""

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io

# set arch, ansible_architecture: x86_64 = amd64, if aarch64 = amd
# need to form the repo line
# deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
arch: "{% if ansible_architecture == 'armhf' %}armhf{% elif ansible_architecture == 'aarch64' %}arm64{% else %}amd64{% endif %}"
#distro: "{{ ansible_distribution_release }}"

# workaround for docker-ce on focal release of ubuntu
distro: "{% if arch == 'arm64' %}eoan{% else %}{{ ansible_distribution_release }}{% endif %}"

docker:
  apt_key: "https://download.docker.com/linux/ubuntu/gpg"
  keyring_path: "/usr/share/keyrings/docker-archive-keyring.gpg"
  apt_repo: "deb [arch={{ arch }} signed-by={{ docker.keyring_path }}] https://download.docker.com/linux/ubuntu {{ distro }} stable"

containerd:

crio_version: "1.34"
crio_packages:
  - "crio"
  - "runc"

crio:
  apt_key: "https://download.opensuse.org/repositories/isv:/cri-o:/stable:/v{{ crio_version }}/deb/Release.key"
  keyring_path: "/etc/apt/keyrings/cri-o-apt-keyring.gpg"
  apt_repo: "deb [signed-by={{ crio.keyring_path }}] https://download.opensuse.org/repositories/isv:/cri-o:/stable:/v{{ crio_version }}/deb/ /"
  ssl_enabled: "{{ ssl_enabled | default(false) }}"
  metrics:
    enabled: false
    port: "9090"
    ssl_cert: "/var/private/ssl/crio.pem"
    ssl_key: "/var/private/ssl/crio.key"
  optl:
    enabled: false
    endpoint: "127.0.0.1:4317"

crictl_version: "1.34.0"
crictl_download_url: "https://github.com/kubernetes-sigs/cri-tools/releases/download/v{{ crictl_version }}/crictl-v{{ crictl_version }}-linux-amd64.tar.gz"
