apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  name: "{{ ansible_fqdn }}"
  criSocket: unix:///var/run/containerd/containerd.sock
  imagePullPolicy: IfNotPresent
  taints: null
  kubeletExtraArgs:
    cgroup-driver: "systemd"
discovery:
  bootstrapToken:
    token: {{ join_token }}
    apiServerEndpoint: {{ join_lb_api_endpoint }}:{{ join_lb_api_port }}
    caCertHashes:
      - "sha256:{{ join_ca_cert_hash }}"
    unsafeSkipCAVerification: true
  timeout: {{ kube_join_timeout }}