# global configs
kubernetes_minor_version: "1.29"
kubernetes_revision: "3"
kubernetes_patch: "1.1"
kubernetes_version: "{{ kubernetes_minor_version }}.{{ kubernetes_revision }}"

kube_user_config: "/home/{{ ansible_user }}/.kube/config"
k8s_token_ttl: "1h"
k8s_token_description: "ansible-generated"
kube_dir: "/etc/kubernetes"
kube_certificate_dir: "{{ kube_dir }}/pki"
kube_init_config_name: "kubeadm_init_config.yaml"
kube_init_config_path: "/tmp/{{ kube_init_config_name }}"
kube_join_config_name: "kubeadm_join_config.yaml"
kube_join_config_path: "/tmp/{{ kube_join_config_name }}"
kube_join_timeout: "5m"
kube_update_config_name: "kubeadm_update_config.yaml"
kube_update_config_path: "/tmp/{{ kube_update_config_name }}"

apiserver_default_port: 6443

kube_bootstrap_api_endpoint: "{{ kube.api.lb_endpoint|d(hostvars[control_plane_nodes[0]]['ansible_default_ipv4']['address']) }}"
kube_bootstrap_api_port: "{{ kube.api.lb_port|d(apiserver_default_port) }}"

node:
  labels: []

# Calico Version
calico_version: "3.30.3"

# MetalLB Version
metallb_version: "0.13.9"

# Longhorn Version
longhorn_version: "1.4.2"

# Metrics Server Version
kube_metrics_enabled: "{{ kube.cluster.metrics.enabled|d(false) }}"
metrics_server_version: "0.6.4"

# SSL
ssl_enabled: false
# Container Runtime default "containerd", "cri-o"
runtime_engine: "{{ container_runtime_engine|d('containerd') }}"
