---
# It's just easier to install containerd from docker's repo
- include_tasks: docker_repo.yaml

- name: Install Containerd Runtime
  apt:
    name: "containerd.io"
    state: present
  when:
    - ansible_os_family == "Debian"

# install crictl
- name: Extract crictl cli
  unarchive:
    src: "{{ crictl_download_url }}"
    dest: "/usr/local/bin"
    remote_src: true
    validate_certs: true

- name: Generate default configs
  shell: "containerd config default > /etc/containerd/config.toml"
  become: true
  args:
    executable: "/bin/bash"

- name: Set SystemdCgroup = true
  become: true
  replace:
    path: /etc/containerd/config.toml
    regexp: "(SystemdCgroup = )(.+)"
    replace: '\1true'

- name: Start containerd Service
  systemd:
    name: containerd
    state: started
    enabled: true
    daemon_reload: true

- include_tasks: check_containerd.yaml
