---
- include_tasks: docker_repo.yaml

- name: Install Containerd Runtime
  apt:
    name: "containerd.io"
    state: present
  when:
    - ansible_os_family == "Debian"

- name: Generate default configs
  shell: "containerd config default > /etc/containerd/config.toml"
  become: true
  args:
    executable: "/bin/bash"

- name: Set SystemdCgroup = true
  become: true
  replace:
    path: /etc/containerd/config.toml
    regexp: "(SystemdCgroup = )(.+)"
    replace: '\1true'

- name: Start containerd Service
  systemd:
    name: containerd
    state: started
    enabled: true
    daemon_reload: true

- name: Check crictl info dump
  shell: 'crictl info | grep ''SystemdCgroup = "true"'''
  become: yes
  args:
    executable: "/bin/bash"
  register: crictl_output
  failed_when: false
  changed_when: false

- name: Trigger restart of containerd service
  debug:
    msg: "A restart is needed"
  when: crictl_output.rc != 0
  notify:
    - Restart containerd
