default_node_labels: ["worker="]
combined_node_labels: "{% if node_labels is defined %}{{ default_node_labels + node_labels }}{% else %}{{ default_node_labels }}{% endif %}"
kubelet_config_path: "/etc/kubernetes/kubelet.conf"
join_api_endpoint: "{{ kube_bootstrap_api_endpoint }}"
join_api_port: "{{ kube_bootstrap_api_port }}"
