---
# Install OS common packages and configuration
- name: Prequisites
  tags: common,packages
  hosts: controlplanes:workers
  tasks:
    - import_role:
        name: os.common

- import_playbook: container_runtime.yaml

- import_playbook: etcd.yaml

- import_playbook: controlplane.yaml

- import_playbook: worker.yaml

- import_playbook: metrics.yaml

- import_playbook: metallb.yaml

- import_playbook: longhorn.yaml

- import_playbook: argocd.yaml
