---
- name: Determining Bootstrap Node
  hosts: controlplanes
  tags: metrics
  tasks:
    - set_fact:
        control_plane_nodes: "{{ hostvars|dict2items|selectattr('value.group_names','search','controlplanes')|map(attribute='key') }}"
      run_once: true

    - name: Register Bootstrap
      add_host:
        name: "{{ control_plane_nodes[0] }}"
        groups: bootstrap
      when: "ansible_host == control_plane_nodes[0]"
      changed_when: false

- name: Install Metrics Server
  hosts: bootstrap
  tags: metrics
  roles:
    - variables
  tasks:
    - import_role:
        name: kubernetes.metrics
      when: "kube_metrics_enabled == true"
